.about {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 400px;
    width: 100%;
    position: relative;
    z-index: 1;
}

.about::before {
    content: "";
    width: 100%;
    height: 100%;
    padding: 5px 0px 5px 0px;
    position: absolute;
    z-index: -1;
    filter: blur(10px);
    background-color: black;
}

.inner_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: white;
    text-align: center;
    font-family: Arial;
}

.inner_about h1 {
    margin-bottom: 10px;
}

.inner_about p {
    font-size: larger;
}