* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
}

button {
  background-color: blue;
}

header {
  display: block;
  justify-content: left;
  background-color: black;
  width: 100%;
  height: 100px;
  position: relative;
}

.mobile_header {
  display: none;
}

.inner_header {
  width: 75%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.close_sidebar_container {
  display: none;
}

.name_container {
  height: 100%;
  display: table;
  float: left;
}

.name_container h1 {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  font-family: Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: white;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.social_container {
  width: 40px;
}

#linkedin {
  width: 30px;
}

.social_container img {
  width: 100%;
  object-fit: contain;
}

.navigation a:hover {
  background-color: hsl(0, 0%, 10%);
}

.navigation a:active {
  background-color: hsl(0, 0%, 20%);
}

/*
.projects-header {
  width: 100%;
  height: 200px;
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#canvas-container {
  width: 200px;
  height: 100%;
  float: right;
  display: block;
  overflow: hidden;
}


/* Projects */
.projects {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  justify-items: center;
}

/* create variable for the outline animation */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.content_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 70%;
  height: auto;
  margin: 50px 0px;
  border-radius: 15px;
  cursor: pointer;

  /* testing with outlines */
  position: relative;
}

/* outline */
.content_bar::after {
  content: "";
  background-image: conic-gradient(from var(--angle), blue, green, yellow, rgb(255, 0, 242), blue);
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  position: absolute;
  z-index: -1;
  border-radius: 15px;
  opacity: 0;
  animation: rotate 5s linear infinite;
  filter: blur(15px);
}

/* box-shadow */
.content_bar::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s;
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.inner_title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
  border-radius: 0px 15px 15px 0px;
  transition: 0.5s;
  object-position: top;
}

.inner_title h1 {
  text-align: center;
  width: 100%;
  font-family: Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 52px;
  transition: 0.5s;
  opacity: 0;
}

.inner_description p {
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  text-align: center;
  font-family: system-ui, Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.inner_description h1 {
  text-align: center;
  font-family: Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.inner_description .inner_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_description {
  width: 60%;
}

.inner_title {
  display: flex;
  align-items: center;
  position: relative;
  width: 40%;
  height: 300px;
}

.reverse .inner_title img {
  border-radius: 15px 0px 0px 15px;
}

@keyframes float-anim {
  0% {
    transform: translate(0, 25px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

/* Mobile navigation */
@media (max-width: 800px) {
  .content_bar {
    flex-direction: column;
  }

  .inner_description p {
    padding-left: 0%;
    padding-right: 0%;
  }
  
  .inner_title img {
    border-radius: 0px 0px 15px 15px;
  }

  .inner_description {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .inner_title {
    width: 100%;
    height: 250px;
  }

  .inner_description {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .reverse .inner_title {
    margin-top: 0px;
  }

  .reverse .inner_title img {
    border-radius: 15px 15px 0px 0px;
  }

  /* Changes the header to the left */
  .normal_header {
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    vertical-align: middle;
    z-index: 4;
    display: none;
  }

  .normal_header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .inner_header {
    width: 100%;
    height: 100%;
  }

  .close_sidebar_container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .close_sidebar_container button {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    color: white;
  }

  .close_sidebar_container img {
    width: 30%;
    object-fit: contain;
  }

  .normal_header .name_container {
    width: 100%;
    height: 100px;
    display: none;
  }
  
  .normal_header h1 {
    font-size: 20px;
    text-align: center;
  }

  .navigation {
    height: 100px;
    width: 100%;
  }

  .navigation a {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: bold;
    text-align: center;
  }

  .navigation img {
    width: 40px;
  }

  #linkedin img {
    width: 30px;
  }
  
  /* Backup header that appears on top of screen */
  .mobile_header {
    display: block;
    justify-content: left;
    position: fixed;
    background-color: black;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
  }

  .mobile_header h1 {
    width: auto;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
  }

  .mobile_header .inner_header {
    width: 100%;
    display: block;
  }

  .mobile_header .name_container {
    width: 80%;
    height: 100%;
    float: right;
  }
  
  .tab_toggle {
    float: left;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tab_toggle button {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tab_toggle img {
    width: 50%;
    object-fit: contain;
  }

  .projects {
    margin-top: 150px;
  }
}

.sidebar_open {
  animation: sidebar-open 0.5s cubic-bezier(0.17, 0.67, 0.25, 0.95) infinite;
  animation-iteration-count: 1;
}

.sidebar_close {
  animation: sidebar-close 0.5s ease-in-out infinite;
  animation-iteration-count: 1;
}

@keyframes sidebar-open {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes sidebar-close {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.content_bar:hover .inner_title img {
  transition: 0.5s;
  filter: brightness(0.5);
}

.content_bar:hover .inner_title h1 {
  transition: 0.5s;
  opacity: 1;
  animation: float-anim 1s cubic-bezier(.17,.67,.25,.95) infinite;
  animation-iteration-count: 1;
}

.content_bar:hover::after {
  transition: 0.5s;
  opacity: 0.5;
}

.content_bar:hover::before {
  transition: 0.5s;
  opacity: 0;
}