* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

button {
  background-color: blue;
}

header {
  display: block;
  justify-content: left;
  background-color: black;
  width: 100%;
  height: 100px;
}

.inner_header {
  width: 75%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.name_container {
  height: 100%;
  display: table;
  float: left;
}

.name_container h1 {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  font-family: Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: white;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.social_container {
  width: 40px;
}

#linkedin {
  width: 30px;
}

.social_container img {
  width: 100%;
  object-fit: contain;
}

.navigation a:hover {
  background-color: hsl(0, 0%, 10%);
}

.navigation a:active {
  background-color: hsl(0, 0%, 20%);
}

.projects {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  justify-items: center;
}

/* create variable for the outline animation */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.content_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 70%;
  height: 300px;
  margin: 50px 0px;
  border-radius: 15px;
  cursor: pointer;

  /* testing with outlines */
  position: relative;
}

/* outline */
.content_bar::after {
  content: "";
  background-image: conic-gradient(from var(--angle), blue, green, yellow, rgb(255, 0, 242), blue);
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  position: absolute;
  z-index: -1;
  border-radius: 15px;
  opacity: 0;
  animation: rotate 5s linear infinite;
  filter: blur(15px);
}

/* box-shadow */
.content_bar::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s;
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.inner_title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
  border-radius: 0px 15px 15px 0px;
  transition: 0.5s;
  object-position: top;
}

.inner_title h1 {
  text-align: center;
  width: 100%;
  font-family: Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 52px;
  transition: 0.5s;
  opacity: 0;
}

.inner_description p {
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  text-align: center;
  font-family: system-ui, Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.inner_description h1 {
  text-align: center;
  font-family: Arial, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.inner_description .inner_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_description {
  width: 60%;
}

.inner_title {
  display: flex;
  align-items: center;
  position: relative;
  width: 40%;
  height: 100%;
}

.reverse .inner_title img {
  border-radius: 15px 0px 0px 15px;
}

@keyframes float-anim {
  0% {
    transform: translate(0, 25px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

.content_bar:hover .inner_title img {
  transition: 0.5s;
  filter: brightness(0.5);
}

.content_bar:hover .inner_title h1 {
  transition: 0.5s;
  opacity: 1;
  animation: float-anim 1s ease-in-out infinite;
  animation-iteration-count: 1;
}

.content_bar:hover::after {
  transition: 0.5s;
  opacity: 0.5;
}

.content_bar:hover::before {
  transition: 0.5s;
  opacity: 0;
}